name: Validator
on:
  workflow_dispatch:
  push:
    branches: [ master ]
jobs:
  # JOB to run change detection
  changes:
    runs-on: ubuntu-latest
    # Set job outputs to values from filter step
    outputs:
      ruby: ${{ steps.filter.outputs.ruby }}
    steps:
    - uses: actions/checkout@v2
    - uses: dorny/paths-filter@v2
      id: filter
      with:
        filters: |
          ruby:
            - '.rubocop.yml'
            - 'bin/console'
            - 'lib/**.rb'
            - 'test/**.rb'
            - 'Gemfile'
            - '*.gemspec'
            
  lint:
    needs: changes
    if: ${{ (needs.changes.outputs.ruby == 'true') || (github.event_name == 'workflow_dispatch') }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: [ 2.7, 2.6, 2.5 ]
    name: Linting ${{ matrix.ruby-version }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        ruby-version: ${{ matrix.ruby-version }}
    - name: Install Dependencies
      run: bundle install
    - name: Rubocop
      run: bundle exec rubocop
  test:
    needs: changes
    if: ${{ (needs.changes.outputs.ruby == 'true') || (github.event_name == 'workflow_dispatch') }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: [ 2.7, 2.6, 2.5 ]
    name: Testing ${{ matrix.ruby-version }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        ruby-version: ${{ matrix.ruby-version }}
    - name: Install Dependencies
      run: bundle install
    - name: Test
      run: bundle exec rake test
